<h1>My Todos</h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container">
<table class="table" border="1">
    
    <thead>
        <tr>
            
            <th>Description</th>
            <th>Target Date</th>
            <th>Is Completed</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            
            <td>{{todo.description}}</td>

            <!-- //pipe | to format the data in one form to another -->
            <td>{{todo.targetDate | date | uppercase}}</td>
            <td>{{todo.done}}</td>
            <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
            <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>

        </tr>
    </tbody>
</table>
</div>
