<h1>My Todos</h1>
<div class="container">
<table class="table">
    
    <thead>
        <tr>
            
            <th>description</th>
            <th>Target Date</th>
            <th>is COmpleted</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            
            <td>{{todo.description}}</td>

            <!-- //pipe | to format the data in one form to another -->
            <td>{{todo.targetDate | date | uppercase}}</td>
            <td>{{todo.done}}</td>

        </tr>
    </tbody>
</table>
</div>
