<header>
    <nav class="navbar navbar-expand-md">
        
        <div><a href="https://www.google.com">Poonam</a></div>
        <ul class="nabar-nav">
            <li><a href="/welcome/poonam" class="nav-link">Home</a></li>
            <li><a href="/todos" class="nav-link">Todos</a></li>
        </ul>
        <ul class="navbar-nav">
            <li><a href="/login" class="nav-link">Login</a></li>
            <li><a href="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>



